@media (min-width: 320px) {
    main {
        height: 100%;

        .caption {
            h2 {
                font-size: 30px;
            }

            margin: 20px 0 0 0;
        }

        .main-slider {
            .slider-ring {
                .item {
                    .picture {
                        width: 200px;
                        height: 180px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    main {
        .caption {
            h2 {
                font-size: 34px;
            }
        }

        .main-slider {
            .slider-ring {
                .item {
                    .picture {
                        width: 210px;
                        height: 210px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    main {
        height: 528px;

        .caption {
            h2 {
                font-size: 38px;
            }

            margin: 0 0 60px 0;
        }
        .main-slider {
            .slider-ring {
                .item {
                    .picture {
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
}